services:
  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"

  backend:
    build: ./backend
    ports:
      - "3001:3001"
    depends_on:
      - rabbitmq

  worker:
    build: ./worker
    depends_on:
      - rabbitmq

  frontend:
    build: ./frontend
    ports:
      - "5173:5173"
